body {
    background-color: rgb(25, 29, 20);
}

#center-wrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

#hex-controls {

  padding: 16px;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

#myForm {
  margin-bottom: 100px;
}

#svg-wrap {
    height: 100vh;
    width: 50vh;
    position: relative;
}

#svg-wrap > svg {
    width: 50vh;
    height: 50vh;
    position: absolute;
}

#my-shape {
    animation: goDown 40s ease-in-out 1s infinite;
}

@keyframes goDown {
    0% {
      top: 0%;
    }
    50% {
      top: 50%;
    }

    100% {
      top: 0%;
    }
}

#my-shape-bottom {
    transform: scaleY(-1);
    top: 35.3%;
    scale: 99.4%;
    animation: goUp 40s ease-in-out 1s infinite;
}

@keyframes goUp {
    0% {
        top: 35.3%;
      }
      50% {
        top: 0%;
      }

      100% {
        top: 35.3%;
      }
}






  .flip-horizontal {
    transform: scaleX(-1);
  }

  .flip-vertical {
    transform: scaleY(-1);
  }
  polygon:hover {
    filter: hue-rotate(30deg)
  }
  