body {
    background-color: rgb(56, 56, 56);
}

#game-board {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border: 2px solid blue;
}

.wall {
    border: 4px solid blue;
}

.pacman {
    display: none;
}
#pac-r {
    transform: rotate(90deg);
}
#pac-d {
    transform: rotate(90deg);
}